
body{
    font-family: 'Crete Round', serif;
    background-color:rgb(114, 187, 247);
    header{
        text-align: center;
        .header__img{
            width: 300px;
            height: auto;
            padding: 20px;
            
        }
    } 
    main{
        #spinner{
            display: none;
        }
        .hero__container{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;

            .button__container{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                padding: 15px;
                .allPokemons__btn{
                    background-color:   #17318500 ;
                    border: 3px solid  #173085 ;
                    color:  #173085 ;
                    font-size: 1rem;
                    font-weight: bold;
                    letter-spacing: 0.1rem;
                    padding:5px 32px;
                    margin: 15px;
                }
                .randonPokemon__btn{
                    background-color:   #17318500 ;
                    border: 3px solid  #173085 ;
                    color:  #173085 ;
                    font-size: 1rem;
                    font-weight: bold;
                    letter-spacing: 0.1rem;
                    padding:  5px 25px;
                    margin: 15px;
                }
            }

            .buscar__input{
                background-color:   #17318500 ;
                border: 3px solid  #173085 ;
                color:  #173085 ;
                font-size: 1rem;
                font-weight: bold;
                letter-spacing: 0.1rem;
                padding:  5px 25px;
                margin: 15px;
            }

            .buscar__btn{
                background-color:   #17318500 ;
                border: 3px solid  #173085 ;
                color:  #173085 ;
                font-size: 1rem;
                font-weight: bold;
                letter-spacing: 0.1rem;
                padding:  5px 25px;
                margin: 15px;
            }

            .pokebal-gif{
                width: 300px;
                height: 300px;
            }
        }
        .all__container{
            .allPokemos{
                .display{
                    display:flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-around;
            
                    .display__element{
                        background-color: rgb(247, 247, 247);
                        margin: 10px;
                        display:inline-block;
                        position: relative;
                        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                        border-radius: 20px;
                        margin: 30px 10px;
            
                        .display__name{
                            text-align: center;
                            padding: 5px;
                        }
                        .display__id{
                            text-align: center;
                            color: rgb(66, 66, 66);
                        }
                        .display__image{
                            width: 200px;
                            background-image: url("./blob.svg");
                            margin: 10px;

                            &:hover{
                                background-image: url("./blobHover.svg");
                                transition: 0.3s;
                                transform: scale(0.99);
                            }
                        }
                        
                    }
                    
                }
            }
            .randonAndBuscarPokemon{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;

                .random{
                    background-color: rgb(247, 247, 247);
                    margin: 10px;
                    display:inline-block;
                    position: relative;
                    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                    border-radius: 20px;
                    margin: 30px 10px; 
    
                    .displayRandom__name{
                        text-align: center;
                        padding: 5px;
                    }
                    .displayRandom__id{
                        text-align: center;
                        color:rgb(66, 66, 66);
                    }
                    .displayRandom__image{
                        width: 200px;
                        background-image: url("./blob.svg");
                        margin: 10px;

                        &:hover{
                            background-image: url("./blobHover.svg");
                            transition: 0.3s;
                            transform: scale(0.99);
                        }
                    }
                    
                    
                } 
                .buscar{
                    background-color: rgb(247, 247, 247);
                    margin: 10px;
                    display:inline-block;
                    position: relative;
                    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                    border-radius: 20px;
                    margin: 30px 10px; 
    
                    .displayBuscar__name{
                        text-align: center;
                            padding: 5px;
                    }
                    .displayBuscar__id{
                        text-align: center;
                        color:rgb(66, 66, 66);
                    }
                    .displayBuscar__image{
                        width: 200px;
                        background-image: url("./blob.svg");
                        margin: 10px;
    
                        &:hover{
                            background-image: url("./blobHover.svg");
                            transition: 0.3s;
                            transform: scale(0.99);
                        }
                    }
                    
                }
            }
            
        }

    }

        
    
    
}

